{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2>Login</h2>
        </div>
        <div class="page-body">
          <input type="text" name="email" id="login_form_email"/>
          <input type="password" name="password" id="login_form_password"/>
          <button id="login_form_button">Login</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer_javascript %}
<script>
  $('#login_form_button').on('click', function(){
    var email = $('#login_form_email').val()
    var password = $('#login_form_password').val()

    firebase.auth().signInWithEmailAndPassword(email, password)
      .then(function(firebaseUser) {
        // Success
        window.location.href = '/';
      }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        alert("Error!")
        // ...
      });
  });

  function logout(){
    firebase.auth().signOut().then(function() {
      // Sign-out successful.
    }, function(error) {
      // An error happened.
    });
  }
</script>
{% endblock %}
